.form-jumbotron{
	padding: 1%;
}
.form-width{
	width: 102%;
	border-radius: 4px;
	padding: 7px;
}
.btn-submit{
	background-color: #4CAF50;
	border-radius: 4px;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.img-design{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 50px;

}
.button{
	background-color: #39ac39;
 	border: none;
 	color: white;
 	padding: 5px 15px;
 	text-align: right;
 	margin-left: 15%;
 	margin-top: 20%;
 	display: inline-block;
 	font-size: 16px;
 	cursor: pointer;
 	border-radius: 6px;
}
.btn-clear{
	background-color: #39ac39;
 	border: none;
 	margin-top: 1.3%;
 	color: white;
 	padding: 5px 15px;
 	text-align: right;
 	margin-left: 95%;
 	display: inline-block;
 	font-size: 16px;
 	cursor: pointer;
 	border-radius: 6px;
}
.btn-save{
	background-color: #39ac39;
 	border: none;
 	margin-top: 1.3%;
 	color: white;
 	padding: 5px 15px;
 	text-align: right;
 	margin-left: 50%;
 	display: inline-block;
 	font-size: 16px;
 	cursor: pointer;
 	border-radius: 6px;
}
.btn-delete{
	background-color: #39ac39;
 	border: none;
 	margin-top: 1.3%;
 	color: white;
 	padding: 5px 15px;
 	text-align: right;
 	margin-left: 50%;
 	display: inline-block;
 	font-size: 16px;
 	cursor: pointer;
 	border-radius: 6px;
}
.btn-choose{
	background-color: #b3b3ff;
 	border: none;
 	margin-top: 1.3%;
 	color: white;
 	padding: 5px 15px;
 	text-align: right;
 	margin-left: 50%;
 	display: inline-block;
 	font-size: 20px;
 	cursor: pointer;
 	border-radius: 6px;
 	text-align: center;
}
.img-carousel{
	width: 100%;
}
li{
	font-size: 15px;
	font-family: helvetica;
	font-style: bold;
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}
.table-bg{
	background-color: #1f3d7a;
}

.form-control2{
	color:#47d147;
	font-size:10;
}

.div_label{
	padding:12px;
}

img{
	width: 15%;
	padding: 10px;
}
.button{
	background-color: #96d296;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: right;
	margin-left: 0.2%;
	margin-top: 1%;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu th td {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/*div.scrollmenu th:hover {
    background-color: #777;
}*/
